/* Layout for Desktop */
main {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.spotlights {
    grid-template-columns: 1fr 1fr 1fr;
}

.info, .weather {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    margin-right: 1%;
}