@media screen and (min-width: 640px) {

    
    
    nav ul {
        display: flex;
        justify-content:space-around ;
        gap: 1rem;
    }

    
    /*existia un pequeno borde extra , con devtool entontre el prolblema era eso y aqui al solucion:*/
    nav ul li {
        margin: 0;
        padding: 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 30px;

    }

    .card-full-width {
        grid-column: span 2;
    }

    .main-title {
        grid-column: span 2;
        text-align: center;
    }

}
