/* ==========================================
   ESTILOS ESPECÍFICOS PARA ESCRITORIO
   ========================================== */

#menu-toggle {
    display: none; /* Se esconde el botón hamburguesa */
}

nav {
    display: flex; /* El menú vuelve a ser una fila horizontal */
    flex-direction: row;
    justify-content: center;
}

nav a {
    border-bottom: none;
    padding: 14px 25px;
}

.main-title {
    max-width: 1100px;
    text-align: left;
    font-size: 2.2rem;
}

/* Activa la cuadrícula del wireframe */
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
}

.courses-card {
    grid-column: 1 / -1; /* Ocupa todo el ancho inferior */
}

/* Las medallas de cursos se organizan en bloques paralelos */
.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.filter-btn {
    padding: 12px;
    font-size: 1rem;
}