* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
}

header {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #777;
    padding: 1rem;
    justify-content: center;
    color: #f4f4f4;
}

nav {
    background-color: #4b4343;
    padding: 0;
}

#hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 1rem;
    width: 100%;
    text-align: right;
}

#nav-menu {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    background-color: #4b4343;
    transition: max-height 0.3s ease-out;
}

#nav-menu li a {
    padding: 1rem;
    display: block;
    color: #f5ebeb;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

#nav-menu li a:hover {
    background-color: #555;
}

nav a.active {
    color: #fff;
    background-color: #0ec917;
    padding: 0.5rem;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-menu.show {
        display: flex;
    }

    #nav-menu li {
        width: 100%;
        text-align: center;
    }

    #nav-menu li a {
        border-top: 1px solid #ccc;
        color: #f3f2f2;
    }
}

main {
    display: block;
    padding: 1rem;
}

.card, .card-full-width {
    padding: 0px; /*esto al ponerle 1 px generaba un espacio al rededro qeu parecia una linea blanca*/
    border: 1px solid #463f3f;
    border-radius: 8px;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0px 20px ;
}

.card h2, .card-full-width h2 {
    background-color: #555;
    border-radius: 4px;
    margin: 0;
    width: 100%;
    color: #f4f4f4;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
}

.course-card {
    padding: 1rem;
    border-radius: 8px;
    background-color: #eee;
    width: 250px;
    transition: 0.3s;
}

.course-card.completed {
    background-color: #c4f0c5;
    border-left: 5px solid #2e8b57;
}

.filters button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filters button.active {
    background-color: #2e8b57;
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #fafafa;
    background-color: #000;
}

img {
    max-width: 100%;
    height: auto;
}
