* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
    font-weight: bold;
}

header {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #777;
    padding: 1rem;
    justify-content: center;
    color: #f4f4f4;
    
}

nav {
    background-color: #4b4343;
    padding: 0; /*si le pongo padding los botones tendran un espacio al rededor */
}

nav a.active{
    color:#fff;
    background-color: #0ec917;
    padding:0.5rem;
    border-radius: 5px;
}

nav ul {
    display: block;
    text-align: center;
}

nav ul li{
    margin-bottom: 1rem;
}

nav ul li a {
    display: block;
    padding: 1rem;
    color: #f5ebeb;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    display: block;
    padding: 1rem;
}



.card, .card-full-width {
    padding: 1px;
    border: 1px solid #463f3f;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin: 1rem 0;
    text-align: center;
}

.card h2{
    background-color: #555;
    border-radius: 4px;
    margin: 0;
    width: 100%;
    color: #f4f4f4;
}

.card-full-width h2{
    background-color: #555;
    border-radius: 4px;
    color: #f4f4f4;
    margin: 0;
}

/*tercera tarjeta botones*/
.course-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.course-card{
    padding: 1rem;
    border-radius: 8px;
    background-color: #eee;
    width: 250px;
    transition: 0.3s;
}

.course-card.completed{
    background-color: #c4f0c5;
    border-left: 5px solid #2e8b57;
}

.filters button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .filters button.active {
    background-color: #2e8b57;
    color: white;
    font-weight: bold;
  }
  





footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #fafafa;
    background-color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}
